.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
    
   
 
    
.info {
        display: flex;
        flex-direction: column;
       
      }
      .description{
        width: 100dvh;
        align-self: center;
      }
      
  
}